@include family(WorkSans, WorkSans, WorkSans-Light) {
  font-weight: 300;
}
@include family(WorkSans, WorkSans, WorkSans-Regular) {
  font-weight: 400;
}
@include family(WorkSans, WorkSans, WorkSans-Medium) {
  font-weight: 500;
}
@include family(WorkSans, WorkSans, WorkSans-SemiBold) {
  font-weight: 600;
}
@include family(WorkSans, WorkSans, WorkSans-Bold) {
  font-weight: 700;
}
@include family(Montserrat, Montserrat, Montserrat-Bold) {
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: em(26, $fs);
  font-family: 'WorkSans', 'Roboto', 'Arial', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  @include media(smartphone) {
    .wrapper {
      padding-top: em(20, $fs);
      padding-bottom: em(20, $fs);
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  max-width: em(1140, $fs);
  justify-content: space-between;
  padding-right: em(15, $fs);
  padding-left: em(15, $fs);
  margin-left: auto;
  margin-right: auto;
  @include media(desktop) {
    max-width: em(960, $fs);
  }
  @include media(tablet) {
    max-width: em(720, $fs);
  }
  @include media(767) {
    max-width: 100%;
  }

  &--upper-footer {
    padding-top: em(82, $fs);
    padding-bottom: em(82, $fs);
    @include media(710) {
      padding-top: em(40, $fs);
      padding-bottom: em(40, $fs);
    }
    @include media(mobile) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &--bottom-footer {
    padding-top: em(20, $fs);
    padding-bottom: em(20, $fs);
    display: flex;
    justify-content: space-between;
    @include media(1023) {
      justify-content: center;
      text-align: center;
    }
  }
}

picture {
  line-height: 0;
}

img {
  max-width: 100%;
}

a {
  color: $primary;
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &:before {
    width: 0;
    height: 2px;
    @include pseudo();
    background-color: $thirdly;
    bottom: em(-10, $fs);
    left: 0;

    transition: {
      duration: .4s;
      property: width;
      timing-function: ease-in-out;
    }
  }

  &:hover {
    text-decoration: none;

    &:before {
      width: 100%;
    }
  }
}

ul,
ol {
  padding-left: 0;
  display: flex;
  list-style: none;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: 0;
  }
}

.button {
  background-color: $thirdly;
  border-radius: 4px;

  transition: {
    duration: .4s;
    property: background-color;
    timing-function: ease-in-out;
  }
  cursor: pointer;

  &:hover {
    background-color: $fifth;
  }

  &:before {
    display: none;
  }
}

input,
textarea,
select,
button {
  font: inherit;
}

.sr-only {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;

  &--site-links,
  &--subscribe,
  &--location {
    $fs: 18;
    font-size: em($fs, $fs_base);
    margin-bottom: em(18, $fs);
    color: $primary;
    letter-spacing: em(0.15, $fs);
    @include media(mobile) {
      text-align: center;
      margin-bottom: em(10, $fs);
    }
  }
}

.bg {
  position: relative;
  z-index: 1;

  &--black {
    background-color: $seventh;
  }

  &--dark {
    background-color: $secondary;
  }

  &--more-dark {
    background-color: $eighty;
  }

  &--home {
    &:before {
      @include pseudo();
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url('../img/home/bg_home.png');
      background-image: url('../img/home/bg_home.webp');
      background-size: cover;
      background-attachment: fixed;
      background-position: top center;
      filter: contrast(.3);
      z-index: -1;
      @include media(1023) {
        background-attachment: unset;
      }
    }
  }
}

.socials-list {
  justify-content: flex-start;

  &__item {
    line-height: 0;

    &:not(:last-child) {
      margin-right: em(18, $fs);
    }
  }

  &__link {
    display: inline-block;

    &:before {
      display: none;
    }
  }

  .icon {
    width: em(24, $fs);
    height: em(24, $fs);
    cursor: pointer;
    transition: color .3s ease-in-out;

    &:hover {
      color: $thirdly;
    }
  }

  &--teammate {
  }

  &--location {
    @include media(mobile) {
      justify-content: center;
    }
  }
}

.nav {
  $self: &;
  line-height: 0;

  &--header {
    #{$self}__burger {
      display: none;
      @include media(smartphone) {
        display: inline-block;
        position: relative;
        width: em(30, $fs);
        height: em(16, $fs);
        -webkit-tap-highlight-color: transparent;

        &:before {
          margin-top: em(-7, $fs);
        }

        &:after {
          margin-top: em(5, $fs);
        }

        &:before,
        &:after {
          @include pseudo();
          transition: transform .3s ease-in-out;
        }

        span,
        &:before,
        &:after {
          width: 100%;
          height: em(2, $fs);
          display: block;
          background-color: $primary;
        }

        &--active {
          width: em(30, $fs);
          height: em(16, $fs);

          span {
            display: none;
          }

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }

          &:before,
          &:after {
            margin-top: 0;
          }
        }
      }
    }
  }

  &--footer {
    width: 100%;
  }
  @include media(smartphone) {
    line-height: 0;
  }
}

.menu {
  $self: &;
  line-height: em(26, $fs);

  &__item {
    $fs: 18;
    font-size: em($fs, $fs_base);
  }

  &__link {
    padding: 0;
  }

  &--header {
    #{$self}__item {
      $fs: 18;

      &:not(:last-child) {
        margin-right: em(20, $fs);
        @include media(smartphone) {
          margin-right: 0;
        }
      }
      @include media(smartphone) {
        width: 100%;
      }
    }

    #{$self}__link {
      &:before {
        bottom: em(-10, $fs);
      }

      &--active {
        &:before {
          width: 100%;
        }
      }
      @include media(smartphone) {
        $fs: 18;
        display: flex;
        width: 100%;
        justify-content: center;
        padding: em(10, $fs);
        border: 1px solid $secondary;
        transition: background-color .3s ease-in-out;
        -webkit-tap-highlight-color: transparent;

        &:hover,
        &--active {
          background-color: $secondary;
          border: 1px solid $eighty;
        }

        &:before {
          display: none;
        }
      }
    }
    @include media(smartphone) {
      &#{$self} {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background-color: $eighty;
        flex-flow: column nowrap;
        justify-content: flex-start;
        transition: left .3s ease-in-out;

        &--active {
          left: 0;
        }
      }
    }
  }

  &--footer {
    flex-direction: column;
    align-items: flex-start;
    @include media(mobile) {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }

    #{$self}__item {
      $fs: 14;
      font-size: em($fs, $fs_base);

      &:not(:last-child) {
        margin-bottom: em(30, $fs);
        margin-right: 0;
        @include media(mobile) {
          margin-bottom: 0;
        }
      }
    }

    #{$self}__link {
      line-height: 1;
      transition: color .3s ease-in-out;

      &:hover,
      &--active {
        color: $thirdly;
      }

      &:before {
        display: none;
      }
    }
  }
}

.footer-list {
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  @include media(710) {
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      &:nth-child(2) {
        order: 1;
        text-align: center;
        width: 100%;
        margin-top: em(20, $fs);
      }
    }
  }
  @include media(mobile) {
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
      width: 100%;
      padding-top: em(10, $fs);
      padding-bottom: em(10, $fs);

      &:nth-child(2) {
        margin-top: 0;
      }

      &:not(:first-child) {
        border-top: 1px solid hsl(0, 0%, 22%);
      }
    }
  }
}

.swiper-container {
  width: 600px;
  height: 300px;
}