@include family(WorkSans, WorkSans-Light) {
  font-weight: 300;
}
@include family(WorkSans, WorkSans-Regular) {
  font-weight: 400;
}
@include family(WorkSans, WorkSans-Medium) {
  font-weight: 500;
}
@include family(WorkSans, WorkSans-SemiBold) {
  font-weight: 600;
}
@include family(WorkSans, WorkSans-Bold) {
  font-weight: 700;
}
@include family(Montserrat, Montserrat-Bold) {
  font-weight: 700;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 14px;
  line-height: em(26, $fs);
  font-family: 'WorkSans', 'Roboto', 'Arial', sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  max-width: em(1140, $fs);
  justify-content: space-between;
  padding-right: em(15, $fs);
  padding-left: em(15, $fs);
  margin-left: auto;
  margin-right: auto;
  @include media(desktop) {
    max-width: em(960px, $fs);
  }
  @include media(tablet) {
    max-width: em(720px, $fs);
  }
  @include media(767) {
    max-width: 100%;
  }
}

img {
  max-width: 100%;
}

a {
  color: $primary;
  position: relative;
  text-decoration: none;

  &:before {
    width: 0;
    height: 2px;
    @include pseudo();
    background-color: $thirdly;
    bottom: em(-10px, $fs);
    left: 0;

    transition: {
      duration: .4s;
      property: width;
      timing-function: ease-in-out;
    }
  }

  &:hover {
    text-decoration: none;

    &:before {
      width: 100%;
    }
  }
}

ul,
ol {
  padding-left: 0;
  display: flex;
  list-style: none;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  @include media(smartphone) {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    background-color: $eighty;
    flex-flow: column nowrap;
    justify-content: flex-start;
    transition: left .3s ease-in-out;
  }
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;

  &.button {
    background-color: $thirdly;
    border-radius: 4px;

    transition: {
      duration: .4s;
      property: background-color;
      timing-function: ease-in-out;
    }

    &:hover {
      background-color: $fifth;
    }
  }
}

input,
textarea,
select,
button {
  font: inherit;
}

.sr-only {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.title {
  margin-bottom: 0;
}

.bg {
  &--dark {
    background-color: $secondary;
  }
}

header {
  position: relative;
  @include media(smartphone) {
    .wrapper {
      padding-top: em(20, $fs);
      padding-bottom: em(20, $fs);
    }
  }
}