/*
  Миксин для создания многоточия в тексте

  Пример:
  @include truncate(576px)
*/

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
  Миксин для подключения шрифтов к сайту

  Пример:
  @include family(Arial, arial);
  @include family(WorkSans, open-sans) {
    font-weight: 400;
  }
*/

@mixin family($name, $dir, $file) {
  @font-face {
    font-family: $name;
    font-display: swap;
    src: url("../fonts/#{$dir}/#{$file}.woff") format("woff"),
    url("../fonts/#{$dir}/#{$file}.woff2") format("woff2"),
    url("../fonts/#{$dir}/#{$file}.ttf") format("truetype");
    @content;
  }
}