/*
  Обертка
*/
$wrapper: 100%;
$t-wrapper: em(720);
$pc-wrapper: em(960);
$wd-wrapper: em(1190);

/*
  Шрифт
*/
$fs_base: 13px;

/*
  Цвета
*/
$primary: hsl(0, 0%, 100%);
$secondary: hsl(0, 0%, 7%);
$thirdly: hsl(223, 96%, 57%);
$forthly: hsl(212, 42%, 23%);