/*
  Шрифт
*/
$fs_base: 14px;
$fs: $fs_base;

/*
  Цвета
*/
$primary: hsl(0, 0%, 100%);
$secondary: hsl(0, 0%, 14%);
$thirdly: hsl(209, 99%, 57%);
$forthly: hsl(0, 100%, 48%);
$fifth: hsl(209, 85%, 53%);
$sixth: hsl(0, 0%, 96%);
$seventh: hsl(0, 0%, 0%);
$eighty: hsl(0, 0%, 10%);