section#about-us
  .about-us.wrapper
    .info.__info
      h2.title.__title= sections.aboutUs.title
      p.__desc= sections.aboutUs.desc
    picture.__photo
      source(srcset="/img/about/" + sections.aboutUs.photo.name + ".webp")
      img(src="/img/about/" + sections.aboutUs.photo.name + ".jpg" alt=sections.aboutUs.photo.alt)