.projects {
  padding-top: em(120, $fs);
  padding-bottom: em(120, $fs);
  min-height: em(888, $fs);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__head {
    margin-bottom: em(55, $fs);
  }

  &__title {
    $fs: 36;
    font-size: em($fs, $fs_base);
    color: $secondary;
    letter-spacing: em(0.15, $fs);
  }

  &__body {
    width: 100%;
  }

  &__subtitle {
    $fs: 18;
    font-size: em($fs, $fs_base);
    color: $secondary;
    letter-spacing: em(0.15, $fs);
    margin-bottom: em(19, $fs);
  }

  &__info {
    max-width: em(486, $fs);
    margin-bottom: em(41, $fs);
    font-weight: 300;
  }
  @include media(tablet) {
    padding-top: em(80, $fs);
    padding-bottom: em(80, $fs);
    min-height: em(678, $fs);
  }
  @include media(629) {
    padding-top: em(40, $fs);
    padding-bottom: em(40, $fs);
    min-height: em(509, $fs);
  }
}