section#projects
  .projects.wrapper
    header.__head
      h2.title.__title Projects
    .__body
      h3.title.__subtitle Lorem ipsum dolor sit amet
      p.__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at vestibulum est. Maecenas elit turpis, dictum et purus maximus, posuere iaculis est. Nam id maximus sem.
      .swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            img(src="./img/home/bg_home.png")
          li.swiper-slide
            img(src="./img/home/bg_home.png")
          li.swiper-slide
            img(src="./img/home/bg_home.png")
        .swiper-button-next
        .swiper-button-prev
