.subscribe {
  &__field {
    color: $secondary;
    border-radius: 4px;
    max-width: em(255, $fs);
    width: 100%;
    padding: em(9, $fs) em(15, $fs);
    @include input-placeholder() {
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }

    &:focus {
      outline: 0;
      @include input-placeholder() {
        opacity: 0;
      }
    }

    @include media(mobile) {
      $fs: 11;
      font-size: em($fs, $fs_base);
      padding: em(3, $fs);
      margin: 0 auto;
      display: block;
    }
  }

  &__submit {
    $fs: 18;
    font-size: em($fs, $fs_base);
    max-width: em(255, $fs);
    width: 100%;
    color: $primary;
    margin-top: em(34, $fs);
    padding-top: em(11, $fs);
    padding-bottom: em(11, $fs);
    letter-spacing: em(0.15, $fs);

    @include media(710) {
      margin-top: em(20, $fs);
    }

    @include media(mobile) {
      $fs: 14;
      font-size: em($fs, $fs_base);
      padding-top: em(5, $fs);
      padding-bottom: em(5, $fs);
      display: block;
      margin: em(20, $fs) auto 0;
    }
  }

  @include media(1023) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}