.bg {
  &--home {
    &:before {
      @include pseudo();
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url('../img/home/bg_home.png');
      background-size: cover;
      background-attachment: fixed;
      background-position: top center;
      filter: contrast(.3);
      z-index: -1;
    }
  }
}

.home {
  height: calc(100vh - 85px);
  justify-content: center;
  flex-direction: column;

  @include media(smartphone) {
    height: calc(100vh - 56px);
  }

  &__title {
    $fs: 72;
    font-size: em($fs, $fs_base);
    font-weight: 700;
    line-height: 1;
    letter-spacing: em(0.15, $fs);
    color: $primary;
    margin-bottom: em(135, $fs);

    @include media(1023) {
      margin-bottom: em(40, $fs);
    }
    
    @include media(mobile) {
      $fs: 48;
      font-size: em($fs, $fs_base);
      margin-bottom: em(40, $fs);
    }
  }

  &__offer-link {
    $fs: 18;
    font-size: em($fs, $fs_base);
    max-width: em(354, $fs);
    width: 100%;
    line-height: em(26, $fs);
    text-align: center;
    padding-top: em(11, $fs);
    padding-bottom: em(11, $fs);
    
    @include media(mobile) {
      $fs: 14;
      font-size: em($fs, $fs_base);
    }
  }
  
  &__continue-btn {
    position: absolute;
    bottom: em(110, $fs);
    line-height: 0;

    @media only screen and (min-width: 1024px) and (min-height: 840px) and (max-height: 1023px) {
      bottom: em(70, $fs);
    }

    @media only screen and (min-width: 1024px) and (min-height: 768px) and (max-height: 839px) {
      bottom: em(40, $fs);
    }
    
    @include media(1023) {
      bottom: em(40, $fs);
    }
    
    @include media(smartphone) {
      bottom: em(20, $fs);
    }
    
    @include media(mobile) {
      bottom: em(40, $fs);
    }

    svg {
      width: em(32, $fs);
      height: em(17, $fs);
      color: $primary;
    }
  }
}