.home {
  height: 100vh;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  flex-flow: column nowrap;
  padding-top: em(125, $fs);
  padding-bottom: em(40, $fs);

  &__body {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: em(110, $fs);
    align-items: center;

    @include media(1025) {
      margin-bottom: em(40, $fs);
    }
  }

  &__title {
    $fs: 72;
    font-size: em($fs, $fs_base);
    font-weight: 700;
    line-height: 1;
    letter-spacing: em(0.15, $fs);
    color: $primary;
    margin-bottom: em(135, $fs);
    text-align: center;

    @include media(1023) {
      margin-bottom: em(40, $fs);
    }

    @include media(mobile) {
      $fs: 48;
      font-size: em($fs, $fs_base);
      margin-bottom: em(40, $fs);
    }
  }

  &__offer-link {
    $fs: 18;
    font-size: em($fs, $fs_base);
    max-width: em(354, $fs);
    width: 100%;
    line-height: em(26, $fs);
    text-align: center;
    padding-top: em(11, $fs);
    padding-bottom: em(11, $fs);

    @include media(mobile) {
      $fs: 14;
      font-size: em($fs, $fs_base);
    }
  }

  &__continue-btn {
    margin-top: auto;
    line-height: 0;
    flex-shrink: 0;

    svg {
      width: em(32, $fs);
      height: em(17, $fs);
      color: $primary;
    }

    &:before {
      display: none;
    }
  }
}