section#home.bg.bg--home
  .home.wrapper
    h1.__title.title One page
    a.__offer-link.button Start now
    button.__continue-btn.pulse
      svg
        use(xlink:href='./img/sprite.svg#arrow-down')