include ../_mixins
doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    +meta('viewport', 'width=device-width, initial-scale=1')
    block SEO
    each val, i in copyright
      +meta(i, val)
    +link('favicon.ico', 'shortcut icon')
    +link('styles.min', 'stylesheet')
  body
    header
      .bg.bg--dark
        .wrapper
          include ../../components/logo/Main
          +menu('header')

    main
      block content

    footer
      .bg.bg--dark
        .wrapper.wrapper--upper-footer
          ul.footer-list
            li.__item
              h2.title.title--site-links Site links
              +menu('footer')
            li.__item
              h2.title.title--subscribe Subscribe
              include ../../components/subscribe/Main
            li.__item
              h2.title.title--location Location
              include ../../components/location/Main
      .bg.bg--more-dark
        .wrapper.wrapper--bottom-footer
          include ../../components/copyright/Main
          include ../../components/links/Main


    include ../../components/top-arrow/Main
    +script('libs')
    +script('app.min')