extends ../templates/default/_template

block SEO
  +meta('keywords', company.seoInfo.keywords)
  +meta('description', company.seoInfo.description)
  title= company.seoInfo.title

block content
  include ../components/sections/home/Main
  include ../components/sections/about-us/Main
  include ../components/sections/our-team/Main
  include ../components/sections/projects/Main
