extends ../templates/default/_template

block SEO
  +meta('keywords', 'norway, landing')
  +meta('description', 'Сайт по Норвегии')
  title Норвегия - почувствуй силу природы!

block header
  p some header's components is here

block content
  p some content's components is here

block footer
  p some footer's components is here