extends ../templates/default/_template

block SEO
  +meta('keywords', 'buisness, landing', 'one page')
  +meta('description', 'Buisness landing for your services')
  title One Page - buisness landing with strong and graceful code

block header
  .wrapper
    include ../components/logo/Main
    include ../components/menu/Main

block content
  p some content's components is here

block footer
  p some footer's components is here