extends ../templates/default/_template

block SEO
  +meta('keywords', 'buisness, landing', 'one page')
  +meta('description', 'Buisness landing for your services')
  title One Page - buisness landing with strong and graceful code

block content
  p some content's components is here
